AuthName "BluJ"
AuthUserFile "/storage/content/13/123813/danstechsupport.com/public_html/JavaScript-jQuery/Java/Projects/BluJ Projects/.htpasswd"
AuthGroupFile /dev/null
AuthType Basic
Require valid-user
